<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="login-container">
        <h2>signup</h2>
        <div>
            {% if st == loggedin %}hi body{% endif %}
            {{ msg }}
        </div>
        <form action="{% url 'signup' %}" method="post">{% csrf_token %}
            <label for="Fname">First Name:</label>
            <input type="text" id="Fname" name="fname" required><br>
            <label for="Lname">Last Name:</label>
            <input type="text" id="Lname" name="Lname" required><br>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required><br>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>
            <input type="submit" name="signup" value="signup">
        </form>
    </div>
</body>
</html>